@model Spike.Support.Users.Models.UserViewModel

<div class="col-md-3">
    @Html.DisplayTextFor(model => model.UserId)
</div>
<div class="col-md-3">
    <a href="~/accounts/@Model.AccountId">@Html.DisplayTextFor(model => model.AccountId)</a>
</div>
<div class="col-md-3">

    <a href="~/users/@Model.UserId">@Html.DisplayTextFor(model => model.UserName)</a>
    
</div>
<div class="col-md-3">
    @Html.DisplayTextFor(model => model.Created)
</div>

