@using System.Web.Mvc.Html
@model Spike.Support.Shared.Models.ContentLayoutViewModel

<div class="row">
    <div class="col-2">
        <ul class="list-group">
            @foreach (var item in Model.MenuItems.OrderBy(x=>x.Ordinal).ThenBy(y=>y.Text))
            {
                <li><a class="list-group-item" href="@item.Url">@item.Text</a> </li>
            }
        </ul>
    </div>

    <div class="col-10">
        @Html.RenderPartial("_content", Model.Content)
    </div>

</div>
