@model Spike.Support.Payments.Models.PaymentViewModel
<div class="col-md-3">
    @Html.DisplayTextFor(model => model.PaymentId)
</div>
@*<div class="col-md-3">
    <a href="~/views/view/accounts/@Model.AccountId">Account @Html.DisplayTextFor(model => model.AccountId)</a>
</div>*@
<div class="col-md-3">
    @Html.DisplayTextFor(model => model.Created)
</div>
<div class="col-md-3">
    @Html.DisplayTextFor(model => model.Amount)
</div>
