@model Spike.Support.Payments.Models.PaymentViewModel
<div class="col-md-3">
    @Html.DisplayTextFor(model => model.PaymentId)
</div>
<div class="col-md-3">
    Account @Html.DisplayTextFor(model => model.AccountId)
</div>
<div class="col-md-3">
    @Html.DisplayTextFor(model => model.Created)
</div>
<div class="col-md-3">
    @Html.DisplayTextFor(model => model.Amount)
</div>
