@model Spike.Support.Portal.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-success">
    <h1>DAS Support - Navigation Spike</h1>
    <span>Provides an architectural alternative for Site-Site collaboration and composite UI delivery.</span>
</div>

<div class="card text-white bg-dark">
    <div class="card-header">User search</div>
    <div class="card-body">
        @*<h4 class="card-title">Users</h4>        <p class="card-text">Search for Users matching by name, email or organisation name.</p>*@
        @{@Html.Raw(Model.UsersView)}
    </div>
</div>
<hr />
<div class="card text-white bg-dark mb-3">
    <div class="card-header">Account search</div>
    <div class="card-body">
        @*<h4 class="card-title">Search</h4>        <p class="card-text">Search for Accounts matching by Organisation name.</p>*@
        @{@Html.Raw(Model.AccountsView)}

        @*<div class="card text-white bg-dark mb-3" style="max-width: 200rem;">

                <hr/>            <div class="card-header">Payments</div>            <div class="card-body">
                    <h4 class="card-title">Search</h4>                <p class="card-text">Search for Payments by Date or Amount.</p>
                </div>
            </div>*@
    </div>
</div>