@model Spike.Support.Accounts.Models.AccountViewModel
<div class="col-md-4">
    @Html.DisplayTextFor(model => model.AccountId)
</div>
<div class="col-md-4">
    <a href="~/accounts/@Model.AccountId">@Html.DisplayTextFor(model => model.AccountName)</a>
</div>
<div class="col-md-4">
    @Html.DisplayTextFor(model => model.Created)
</div>