@model Spike.Support.Portal.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-info">
    <h1>DAS Support - Navigation Spike</h1>
    <span>Provides an architectural alternative for Site-Site collaboration and composite UI delivery.</span>
</div>
@if (Model.UsersView != null)
{
    <div class="card text-white bg-dark">
        <div class="card-header">User results</div>
        <div class="card-body">

            @Html.Raw(Model.UsersView)


        </div>
    </div>
    <hr/>
}
@if (Model.AccountsView != null)
{
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">Account results</div>
        <div class="card-body">


            @Html.Raw(Model.AccountsView)


        </div>
    </div>
}